$btn-radius: 6px;

$unit:          50px;
$size-1u:       $unit;
$size-1_25u:    $unit * 1.25;
$size-1_5u:     $unit * 1.5;
$size-1_75u:    $unit * 1.75;
$size-2u:       $unit * 2.00;
$size-2_25u:    $unit * 2.25;
$size-2_75u:    $unit * 2.75;
$size-6_25u:    $unit * 6.25;

$color-white: #ffffff;


$color-bg-hovered: #65532f;
$color-text-default: #777777;
$color-text-hovered: #ffffff;
$color-text-pressed: #ffffff;
